[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
mediatr = "*"
bcrypt = "==4.0.1"
passlib = {extras = ["bcrypt"], version = "*"}
pydantic-settings = "*"
pytest-dotenv = "*"
pymongo = {extras = ["srv"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
psycopg2 = "*"
black = "*"
faker = "*"
asyncpg = "*"
python-multipart = "*"

[dev-packages]
isort = "*"
black = {extras = ["d"], version = "*"}
flake8 = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
