[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
mediatr = "*"
bcrypt = "==4.0.1"
passlib = {extras = ["bcrypt"], version = "*"}
pydantic-settings = "*"
pytest-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
